/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-section {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    background-color: rgb(255, 255, 255);
}

.login-section img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 70%;
    margin-top: 2.6rem;
}

.login-section p {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #1E85E6;
    cursor: pointer;
    margin-top: 2rem;
}

.login-section p {
    margin-bottom: 3rem;
}

.login-input-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 86%;
    height: 60%;
    margin-top: 2rem;
}

.login-input-area div {
    display: flex;
    flex-direction: column;
}

.login-input-area h1 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2.1rem;
    color: #343A40;
    margin-bottom: 0.5rem;
}

.login-input-area label {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.1rem;
    color: #343A40;
    margin-bottom: 10px;
}

.login-input-area input {
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 7px;
    border: 1.5px solid #6C757D;
}

input:hover {
    outline: 3px solid #F1F1F2;
}

input:focus-within {
    outline: 3px solid #32CF44;
}

.login-input-area button {
    all: unset;
    cursor: pointer;
    background-color: #32CF44;
    text-align: center;
    border-radius: 7px;
    padding: 0.6rem;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.4rem;
    color: white;
}

.login-input-area button:focus {
    outline: 3px solid #B9FCB9;
}

@media screen and (max-width: 2024px) and (min-width: 980px) {
    .landing-section {
        width: 100%;
        height: 100vh;
        display: flex;
    }
}

@media screen and (min-width: 2025px) {
    .landing-section {
        width: 2024px;
        height: 100vh;
        display: flex;
    }
}


.bkg-section {
    width: 100%;
    height: 100%;
    background-color: #F7FAFB;
    box-shadow: -2px 0px 2px 0px rgba(0,0,0,0.1);
}

.bkg-section img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 100vh;
}
